table.submitTable {
  width: 700px;
  color: white;
  
  font-size: 20px;
  
  text-align: left; 
  
  border-style: solid;
  border-width: 0px;
  border-color: black;
}

table.annotationTable {
  width: 700px;
  color: white;
  font-size: 20px;
}


td {
  border-style: solid;
  border-width: 0px;
  border-color: black;
}

td.feature {
  width: 150px;
}

td.ida {
  width: 175px;
  text-align: right;
  padding-right: 25px;
}

td.start {
  width: 105px;
  text-align: right;
  padding-right: 25px;
}

td.end {
  width: 105px;
  text-align: right;
  padding-right: 25px;
}

td.keep {
  text-align: center;
}

select.geneFeature {
  width: 100px;
  height: 30px;
  
  font-size: 16px;
  font-weight: bold;
  color: DimGrey;
  
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;  
  border-radius: 5px 5px 5px 5px;
}

input.idInputBox {
  height: 30px;
  width: 170px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  
}

input.geneStartAndEndMarker {
  height: 30px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

input.geneCheckbox {
  width: 30px;
  height: 30px;
}

button#annoSubmitButton {
  float: ;
}