
#div_specification_title {
  position: relative;
  margin-left:auto;
  margin-right:auto;
  
  width: 700px;

  top: 0px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}


div.specificationLabel {
  position: relative;
  margin-left:20px;
  margin-right:auto;
  
  width: 700px;
  height: 40px;
  color: white;
  
  font-size: 20px;
  
  text-align: center; 
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specificationLabelA {
  position: absolute;
  margin-left: 0px;
  
  width: 100px;
  height: 100%;
  padding-top: 10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specificationLabelB {
  position: absolute;
  margin-left: 100px;
  
  width: 200px;
  height: 100%;
  padding-top: 10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specificationLabelC {
  position: absolute;
  margin-left: 300px;
  
  width: 200px;
  height: 100%;
  padding-top: 10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specificationLabelD {
  position: absolute;
  margin-left: 500px;
  
  width: 100px;
  height: 100%;
  padding-top: 10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specRow {
  position: relative;
  margin-left:20px;
  margin-right:auto;
  
  width: 700px;
  height: 40px;
  text-align: center;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.specRowB {
  position: relative;
  margin-left:20px;
  margin-right:auto;
  
  width: 700px;
  height: 30px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specRowA1 {
  position: absolute;
  margin-left: 0px;
  
  width: 100px;
  height: 100%;
  padding-top: 3px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specRowA2 {
  position: absolute;
  margin-left: 100px;
  
  width: 200px;
  height: 100%;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specRowA3 {
  position: absolute;
  margin-left: 300px;
  
  width: 200px;
  height: 100%;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

div.specRowA4 {
  position: absolute;
  margin-left: 500px;  
  
  width: 100px;
  height: 100%;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

select.geneType {
  width: 100px;
  height: 30px;
  
  font-size: 16px;
  font-weight: bold;
  color: DimGrey;
  
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;  
  border-radius: 5px 5px 5px 5px;
  
 /*  background-color: #176A81; */
}

input.geneStartAndEndMarker {
  height: 30px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

input.geneCheckbox {
  width: 30px;
  height: 30px;
}

input#specificationSubmitBotton {
  margin-left: 250px;
}