table#catalog {
	width: 100%;
  table-layout:fixed;

  color: white;
}

table#catalog tr > th {
  width: 45%;

  text-align: left;
}

span.confirmMsg {
  font-weight: bold;
}

div.showcase {
  margin-left: 20px;

  color: white;

  width: 600px;
  max-height: 500px;
  
  overflow-y: auto;
  white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}



