input#uploadSubmitButton {
  position: relative;
  margin-top: 7px;
}

div#uploadTitleBox {
  position: relative;
  
  font: 25px;
  color: white;
  margin-top: 5px;

  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}

textarea#notes {
  width: 350px;
  height: 150px;
  max-width: 350px;
  max-height: 150px;
  font-size: 16px;
  font-family:"lucname_gene grande",tahoma,verdana,arial,sans-serif;
  
  border: 2px inset;
  
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;  
  border-radius: 5px 5px 5px 5px;
}

form#geneUploadForm  {
  position: relative;
  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}


span#wordCount {
  position: relative;

  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}
