/* */
body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #2298B8; /*Blue hue*/
  /* background-image: url('../images/background.jpg'); */
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,span,text-area,input{
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

hr {
  color:white;
  background-color:white;
  height:2px;
  border:none;
}

input.inputBoxStyle{
  color: DimGrey;
  font-size: 25px;
  width: 300px;
  
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;  
  border-radius: 5px 5px 5px 5px;
}

div.formLabel {
  font-size:20px;
  color:white;
}

.shadow {
-moz-box-shadow: 0px 0px 10px 2px #111;
-webkit-box-shadow: 0px 0px 10px 2px #111;
box-shadow: 0px 0px 10px 2px #111;
}

.textShadow {
  text-shadow: 0px 0px 7px #111;
}

.roundCorners {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;  
  border-radius: 15px;
}

a {
  color: white;
  text-decoration: none;
}



a.smallLink {
  position: relative;
  font-weight: normal;
  
  font-size: 12px;
}

a.smallLink:hover {
  text-decoration: underline;
}

div.pageTitle {
  position: relative;
  width: 700px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
  font-size:50px;  
  font-weight:bold;
  color:white;
  
  border-style: solid;
  border-width: 0px;
  border-color: white;
}

/* Main portion */
div.topBarBackground {
  position: absolute;
  padding: 0px;
  margin: 0px;
  
  height: 78px;
  width: 100%;
  
  border-bottom-style:solid;
  border-bottom-color:yellow;
  border-bottom-width:4px;
  
  background-color: black;
  opacity:.3;
  filter:alpha(opacity=30);
}

#div_main {
  width: 970px;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}



/* Content */
#div_content_box_upload {
  position: absolute;
  height: 500px;
  width: 700px;
  margin-top: 5px;
}

div.contentContainer {
  position: absolute;
  height: auto;
  width: 700px;
  margin-top: 5px;
  
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#div_introduction_box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 680px;
  margin-top: 40px;
  
  font: 25px;
  font-weight: bold;
  vertical-align: bottom;
  color: white;

  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}

#div_content_box_main {
  position: relative;
  height: 310px;
  width:680px;

  margin-left: auto;
  margin-right: auto;
  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}

#div_content_box_main_A {
  position: absolute;
  height: 310px;
  width: 300px;
  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}

#div_content_box_main_A1 {
  position: absolute;
  height: 120px;
  width: 300px;
  
  border-style: solid;
  border-color: white;
  border-width: 0px;
}

#div_content_box_main_A11 {
  position: absolute;
  height: 30px;
  width: 300px;
  margin-top: 120px;
  
  border-style: solid;
  border-color: white;
  border-width: 0px;
}

#div_content_box_main_A2 {
  position: absolute;
  height: 130px;
  width: 300px;
  margin-top: 150px;
  
  border-style: solid;
  border-color: white;
  border-width: 0px;
}

#div_content_box_main_A21 {
  position: absolute;
  height: 30px;
  width: 300px;
  margin-top: 280px;
  
  border-style: solid;
  border-color: white;
  border-width: 0px;
}

#div_content_box_main_B {
  position: absolute;
  height: 500px;
  width: 370px;
  margin-left: 310px;
  
  border-style: solid;
  border-color: red;
  border-width: 0px;
}

#div_content_box_main_B1 {
  position: absolute;
  height: 200px;
  width: 370px;
  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}

#div_content_box_main_B2{
  position: absolute;
  height: 40px;
  width: 100px;
  margin-top: 250px;
  margin-left:250px;
  
  text-align: right;
  
  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}

#div_content_box_main_B2_wordcount {
  position: absolute;
  height: 40px;
  width: 250px;
  margin-top: 250px;
  margin-left:0px;
   
  
  border-style: solid;
  border-color: blue;
  border-width: 0px;
}


.content_title_format {
  font-size: 40px;
  color: white;
}

.content_detail_format {
  font-size: 15px;
  color: white;
}

#geneNotes {
  width: 350px;
  height: 150px;
  max-width: 350px;
  max-height: 150px;
  font-size: 15px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

#geneName {
  font-size: 20px;
  maxlength: 30;
}

#upload_file_button {

}

input.submitButton {
  width: 100px;
  height: 40px;
  
  font-size: 20px;
  color: white;
  
  background-color: grey;
  
  border-style: solid;
  border-color: white;
  border-width: 1px;
  
  -moz-box-shadow: 0px 0px 7px 0px #111;
  -webkit-box-shadow: 0px 0px 7px 0px #111;
  box-shadow: 0px 0px 7px 0px #111;
    
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;  
  border-radius: 10px 10px 10px 10px;
}

input.submitButton:hover {
  background-color: #2298B8;
}

input.submitButton:active {
  background-color: grey;
  color: white;
}



