
#div_specification_title {
  position: relative;
  margin-left:auto;
  margin-right:auto;
  
  width: 700px;
  height: 90px;
  top: 15px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}


#div_content_box_specification_top {
  position: relative;
  margin-left:20px;
  margin-right:auto;
  
  width: 700px;
  height: 40px;
  color: white;
  
  font-size: 18px;
  
  text-align: center;
  
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

#div_content_box_specification_top1 {
  position: absolute;
  margin-left: 0px;
  
  width: 100px;
  height: 100%;
  padding-top: 10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

#div_content_box_specification_top2 {
  position: absolute;
  margin-left: 100px;
  
  width: 200px;
  height: 100%;
  padding-top: 10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

#div_content_box_specification_top3 {
  position: absolute;
  margin-left: 300px;
  
  width: 200px;
  height: 100%;
  padding-top: 10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

#div_content_box_specification_top4 {
  position: absolute;
  margin-left: 500px;
  
  width: 100px;
  height: 100%;
  padding-top: 10px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.div_content_box_specification_row {
  position: relative;
  margin-left:20px;
  margin-right:auto;
  
  width: 700px;
  height: 40px;
  text-align: center;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.div_content_box_specification_B {
  position: relative;
  margin-left:20px;
  margin-right:auto;
  
  width: 700px;
  height: 30px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.div_content_box_specification_A1 {
  position: absolute;
  margin-left: 0px;
  
  width: 100px;
  height: 100%;
  padding-top: 3px;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.div_content_box_specification_A2 {
  position: absolute;
  margin-left: 100px;
  
  width: 200px;
  height: 100%;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.div_content_box_specification_A3 {
  position: absolute;
  margin-left: 300px;
  
  width: 200px;
  height: 100%;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.div_content_box_specification_A4 {
  position: absolute;
  margin-left: 500px;  
  
  width: 100px;
  height: 100%;
  
  border-style: solid;
  border-width: 0px;
  border-color: blue;
}

.gene_type {
  width: 100px;
  height: 30px;
  
  font-size: 16px;
  font-weight: bold;
  color: white;
  
  background-color: Dimgrey;
}

.gene_start_end {
  height: 30px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.gene_keep {
  width: 30px;
  height: 30px;
}

#submit_button_specification {
  margin-left: 250px;
}