body {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,span{
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

table.main {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  background-color: grey;
  margin-top: 100px;
  width: 900px;
  height: 500px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

table.registerAndLogin {
  margin-top: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: red;
  height:350px;
  width:100%;
}

td.td_register_wrapper {
  text-align: center;
}



form.loginForm , form.registerForm{
  text-align:center;
  width:300;
  margin-left:auto;
  margin-right:auto;
}

td {
  border-style:solid;
  border-width: 0px;
  border-color: purple;
}


td.welcomeMessageBox{
  vertical-align:top;
  border-bottom-style: thick;
  border-bottom-width: 6px;
  border-bottom-color: white;
  height: 120px;
}


td.loginMessageBox {
  text-align:center;
  vertical-align:bottom;
  color:white;
  height:25px;
 }
 
td.rightAlign {
  text-align:right;
}

td.loginTitle, td.registerTitle {
  height:25px;
  color:white;
  font-size:25px;
  width:50%;
  
}

td.loginBox {
  border-right-style: thick;
  border-right-width: 6px;
  border-right-color: white;
  text-align: center;
}

span {
  color:white;
}

span.welcomeMessage {
  font-size:50px;
  color:white;
  font-weight:bold;
}

