body {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #D8D8D8;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol
{
font-family:verdana,helvetica,arial,sans-serif;
}

table.main {
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  margin-top: 100px;
  width: 900px;
  height: 700px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

td {
  vertical-align:top;
}