body {
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 1px;
  background-color: white;
}

body,p,h1,h2,h3,h4,table,td,th,ul,ol,span{
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

table.main {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  background-color: grey;

  width: auto;
  height: 500px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

table.registerAndLogin {
  margin-top: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: red;
  height:350px;
  width:100%;
}


form.loginForm , form.registerForm{
  margin-left:auto;
  margin-right:auto;
  border-style: solid;
  border-width: 0px;
  border-color: yellow;
}

form.loginForm {
  margin-top:35px;
}

form.registerForm {
  margin-top:35px;
}

td,th {
  border-style:solid;
  border-width:0px;
  border-color: purple;
}


td.welcomeMessageBox{
  vertical-align:top;
  border-bottom-style: thick;
  border-bottom-width: 6px;
  border-bottom-color: white;
  height: 120px;
}


td.loginMessageBox {
  text-align:center;
  vertical-align:bottom;
  color:white;
  height:25px;
 }
 
td.rightAlign {
  text-align:right;
}

td.leftAlign {
  text-align:left;
}

td.loginTitle, td.registerTitle {
  height:25px;
  color:white;
  font-size:25px;
  width:50%;
  
}

td.loginBox {
  border-right-style: thick;
  border-right-width: 6px;
  border-right-color: white;
  vertical-align:top;
}

td.registerBox {
  vertical-align:top;
}

td.loginBoxSpacer {
  
}

td.registerBoxSpacer {
  
}

span {
  color:white;
}

span.tryAgain {
  font-weight:normal;
}

span.welcomeMessage {
  font-size:50px;
  color:white;
  font-weight:bold;
}

