

input.mutate_button {
  width: 110px;

  font-size: 18px;

  margin-left: 5px;
  margin-top: 7px;
  background-color: #36175E;
}

input.mutate_button:hover {
  background-color: gray;
}

input.mutate_button_active {
  background-color: gray;
}

.info {
  table-layout:fixed;
  width: 100%;

  font-size: 14px;
}

.info th {
  width: 200px;
  text-align: left;
  font-weight: normal;
}

.info td {
  width: 500px;
  overflow-x: auto;
}


