input.mutate_button {
  width: 110px;

  font-size: 18px;

  margin-left: 5px;
  margin-top: 7px;
  background-color: #36175E;
}

input.mutate_button:hover {
  background-color: gray;
}

input.mutate_button_active {
  background-color: gray;
}

.generalContentContainer table th {
  width: 150px;
  text-align: right;
}

.generalContentContainer table td {
  padding-left: 20px;
}


